{% extends 'base.html' %}
{% block blog %}active{% endblock%}
{% block content %}
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-3 hidden-sm hidden-xs">
				<div class="panel panel-default">
					{% if post.author.profile.background_pic %}
					<img src="{{ post.author.profile.background_pic.url }}" style="width: 100%;">
					{% endif %}
					<div class="panel-body">
						<div class="text-center">
					{% if post.author.profile.profile_pic %}
						<img src="{{ post.author.profile.profile_pic.url }}" style="position: relative; width: 45px; height: 45px; top:-30px; margin-bottom: 0px; border-radius: 120px;">
					{% endif %}
					</div>
						<h3 style="margin-top: -25px;">{{ post.author }}</h3>
						<i>Leader, Teacher, Entepreneur</i>

						<div class="text-center">
							<i class="fa fa-facebook-official spn"></i>
							<i class="fa fa-twitter spn"></i>
							<i class="fa fa-linkedin spn"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 class="text-center">{{ post.title }}</h2>
						<div class="text-center">
							<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="share_link face">
							<i class="fa fa-facebook-official spn"></i>
						</a>
						<a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}" class="share_link twitt">
							<i class="fa fa-twitter spn"></i>
						</a>
						<a href="https://www.linkedin.com/cws/share?url={{ request.build_absolute_uri }}" class="share_link link">
							<i class="fa fa-linkedin spn"></i>
						</a>
						</div>
					</div>

				</div>
				{% if post.header_pic %}
				<div class="panel panel-default">
					<img src="{{ post.header_pic.url }}" style="width: 100%;">
					<div class="panel-body">
						<h5>{{ post.heade_pic_descr }}</h5>
					</div>
				</div>
				{% endif %}
				<div class="visible-sm visible-xs">
					<div class="panel panel-danger">
						<div class="panel-heading">
							Ads
						</div>
							{% for ad in ads %}
								{% if ad.banner %}
								<a href="http://{{ ad.url }}">
									<img src="{{ ad.banner.url }}" style="width: 100%;">
								</a>
								{% endif %}
							{% endfor %}
						</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body pixel">
						<!-- <h3>{{ post.title }}</h3> -->
						<p>{{ post.body|linebreaks }}</p>
					</div>
				</div>
				{% if post.topic_pic %}
				<div class="panel panel-default">
					<img src="{{ post.topic_pic.url }}" style="width: 100%;">
					<div class="panel-body">
						<h5>{{ post.topic_pic_descr }}</h5>
					</div>
				</div>
				{% endif %}
				{% if post.topic_pic_2 %}
				<div class="panel panel-default">
					<img src="{{ post.topic_pic_2.url }}" style="width: 100%;">
					<div class="panel-body">
						<h5>{{ post.topic_pic_2_descr }}</h5>
					</div>
				</div>
				{% endif %}
				{% if post.topic_pic_3 %}
				<div class="panel panel-default">
					<img src="{{ post.topic_pic_3.url }}" style="width: 100%;">
					<div class="panel-body">
						<h5>{{ post.topic_pic_3_descr }}</h5>
					</div>
				</div>
				{% endif %}
				{% if post.topic_pic_4 %}
				<div class="panel panel-default">
					<img src="{{ post.topic_pic_4.url }}" style="width: 100%;">
					<div class="panel-body">
						<h5>{{ post.topic_pic_4_descr }}</h5>
					</div>
				</div>
				{% endif %}
			</div>
			<div class="col-md-3">
				<div class="panel panel-danger">
				<div class="panel-heading">
					Ads
				</div>
					{% for ad in ads %}
						{% if ad.banner %}
						<a href="http://{{ ad.url }}">
							<img src="{{ ad.banner.url }}" style="width: 100%;">
						</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

    $(".pixel p").each(function(data){
        var urlRegex = /(https?:\/\/[^\s]+)/g;
        var currentHtml = $(this).html();
        var newText;
        newText = currentHtml.replace(urlRegex, '<a href="$1">$1</a>');
        $(this).html(newText);
    })
</script>
{% endblock %}